@font-face {
    font-family: 'escafinahigh';
    src: url('escafina-high-webfont.woff2') format('woff2'),
         url('escafina-high-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	background-image: url("../images/wood.jpg");
}

header{
	display: flex;
	align-items: center;
	height: 60px;
	background-color: #ff9319;

}


.logo{
	 font-family: 'escafinahigh';
	font-size:45px;
	background-color: #ff9319;
	color: #E1F5C4;
	text-shadow: 2px 2px #6d4532;
	padding-left: 20px;

}


.tagline {
	font-family: 'Fjalla One', sans-serif;
	color: #E1F5C4;
	font-size: 22px;
	text-shadow: 2px 2px #6d4532;
	/*align-content: center;
	padding-top: 10px;*/
	padding-left: 15px;

}

.container{
	display: flex;
}

.aligner{
	height: 550px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.alignResults{
	display:flex;
	height: 550px;
	justify-content: space-between;
	

}

.aligner-item{
	max-width: 30%;
}

#start{
	display: flex;
	flex-direction: column;

	background-color: #ff9319;
	/*justify-content: center;
	align-items: center;*/
	border-radius: 50px;
}
#start h1{


	font-family: 'Fjalla One', sans-serif;
	color: #E1F5C4;
	text-shadow: 2px 2px #6d4532;
	font-size: 35px;
	padding: 15px;


}
#startScreen, #location, #cuisines{
	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

/*.positioner{
	max-width: 970px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}
*/
form{
	display: flex;
	flex-direction: column;


/*	background-color: #ff9319;
	padding: 100px;
	border-radius: 20px*/
}

.prompt{
	text-align: center;
	font-size: 35px;
	font-family: 'Fjalla One', sans-serif;
	color: #E1F5C4;
	text-shadow: 2px 2px #6d4532;

	/*margin: 20px;*/
	/*align-self: flex-start;*/
}

.promptAlt{
	text-align: center;
	font-size: 35px;
	font-family: 'Fjalla One', sans-serif;
	color: #ff9319;
	text-shadow: 2px 2px #6d4532;
}


#locationInfo{
	display: flex;
	flex-direction: column;
	background-color: #ff9319;
	padding: 25px;
	border-radius: 20px

}


#cuisines, #location, #pricePoint{
	
	display: flex;
	flex-direction: column;


}

#cuisinesInfo{
		display: flex;
		flex-direction: column;
		background-color: #E1F5C4;
		padding: 25px;
		border-radius: 20px;
}

#elimination-list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'Raleway', sans-serif;
	/*background-color: #E1F5C4;*/
	border-radius: 5px;
	height: 250px;
	padding: 15px;
	width: 600px;
	/*padding-top: 0px;*/
}
#elimination-list li{
	
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	/*margin-top: 10px;*/
	padding: 10px 5px;
	width: 100px;
	height: 100px;
	background-color: #ff9319;
	border-radius: 35px;
	text-align: center;
	color: #E1F5C4;
	border-style: solid;
	border-width: 1px;
	border-color: #6d4532;

}




#howMuch{
	display: flex;
	flex-direction: column;
}


#priceInfo{
		display: flex;
		flex-direction: column;
		background-color: #ff9319;
		padding: 25px;
		border-radius: 20px;

}

#dollaSigns{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
}

#priceInfo ul{
	padding: 20px;
}

#dollaSigns li{
	font-family: 'Fjalla One', sans-serif;
	color: #ff9319;
	font-size: 25px;
	padding: 15px;
	background-color: #E1F5C4;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #6d4532;
}

#resultsInfo{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 15px;

}
#result1{
	width: 33.333%;
	height: 500px;
	background-color: #ff9319;
	margin: 25px;
	border-radius: 35px;
}

#result2{
	width: 33.333%;
	height: 500px;
	background-color: white;
	margin: 25px;
	border-radius: 35px;
}

#result3{
	width: 33.333%;
	height: 500px;
	background-color: #ff9319;
	margin: 25px;
	border-radius: 35px;
}

.restaurant-image{
	height: 300px;
	width: 400px;
	border: 3px solid black;
}

.restaurant-title,
.restaurant-price,
.restaurant-rating{
	text-align: center;
	
}

/*.grumbleHeader{
	background-color: #FC913A;
}*/